@model IEnumerable<DataLayer.Features>

@{
    ViewBag.Title = "ویژگی ها";
}

<h2>ویژگی ها</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">افزودن ویژگی جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeaturesTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturesTitle)
        </td>
        <td>
	        <a href="@Url.Action("Edit", new {id=item.FeaturesID})" class="btn btn-warning btn-sm">
		        <i class="glyphicon glyphicon-edit"></i>
	        </a>
	        <a href="@Url.Action("Delete", new {id=item.FeaturesID})" class="btn btn-danger btn-sm">
		        <i class="glyphicon glyphicon-trash"></i>
	        </a>

        </td>
    </tr>
}

</table>
